body {
    background-image: url(../images/fond.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.btn-contact {
    color: #BCEE00;
    padding: auto 1rem;
    border: 2px solid #BCEE00;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    transition: .3s
}
.btn-contact:hover {
    background: #BCEE00;
    color: #000000;
    box-shadow: 0 0 16px rgba(198, 255, 0, 0.6);
}

.fond-nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.lien-nav {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.lien-nav::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 90%;
    height: 3px;
    background-color: #ffffff;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
} 
.lien-nav:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.navbar-toggler-icon {
    filter: invert(1);
    width: 2.5rem;
    height: 2.5rem;
}