body {
    background-image: url(../images/fond.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}

.btn-contact {
    color: #BCEE00;
    padding: auto;
    border: 2px solid #BCEE00;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    transition: .3s
}
.btn-contact:hover {
    background: #BCEE00;
    color: #000000;
    box-shadow: 0 0 16px rgba(198, 255, 0, 0.6);
}

.fond-nav {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.lien-nav {
    position: relative;
    display: inline-block;
    overflow: hidden;
}
.lien-nav::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 4px;
    width: 90%;
    height: 3px;
    background-color: #ffffff;
    transform: translateX(-50%) scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
} 
.lien-nav:hover::after {
    transform: translateX(-50%) scaleX(1);
}

.navbar-toggler-icon {
    filter: invert(1);
    width: 2.5rem;
    height: 2.5rem;
}

.dropdown-item:hover {
    background-color: rgb(227, 227, 227);
}

.navbar {
    padding-left: 3rem;
    padding-right: 3rem;
}

/*** FOOTER ***/

footer {
    background-color: #707070;
    color: #ffffff;
    border-top: #969696 2px solid;
    padding: 0 1.5rem;
}
footer .footer-center div {
    display: flex;
    align-items: center;
}
footer .footer-center div p {
    margin: 0;
}
.footer-center ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
}
.footer-center ul li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
}
.footer-center ul li a:hover {
    color: #f0eeee;
}


/*** MEDIA QUERY ***/

@media (max-width: 310px) {
    .navbar .container-fluid {
        justify-content: center;
    }
}
@media (max-width: 420px) {
    .navbar {
        padding-left: 0;
        padding-right: 0;
    }
}

@media (max-width: 470px) {
    footer {
        padding-left: 0;
        padding-right: 0;
    }
    .footer-center {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .footer-center ul {
        display: flex;
        justify-content: center;
        margin-bottom: 2rem;
    }
    .footer-center div {
        display: flex;
        justify-content: center;
        text-align: center;
    }
}